body{
  background: rgb(35,35,55)
}

#page-title{
  color: white;
  text-align: center;
}

#weatherForm input{
  margin-bottom: 4px;
  font-weight: bolder;
  font-size: 18px;
}

#weatherForm button{
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}

#weatherConditions{
  margin-top: 15px;
  margin-bottom: 15px;
}

#weatherConditions .bar-item{
  color: white;
  text-align: center;
  padding: 7px;
  background: rgba(65,70,84,1);
  border-radius: 4px;
  border: 0.01em solid rgb(15,15,15);
}

#temperature{
  font-size: 32px;
  color: rgba(240,240,240,1);
  text-align: center;
  margin-bottom: 05px;
}

#weatherConditions .weather-summary{
  color: rgba(240,240,240,1);
  font-size: 24px;
  text-align: center;
  margin-bottom: 12px;
}

#weatherConditions #weather-icon{
  margin: 10px;
  text-align: center;
}

#dialog-message{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

#dialog-message .glyphicon{
  margin-right: 5px;
}
